yourdomain.tld {
  @jwt path /jwt* 
    handle @jwt {
      uri strip_prefix /jwt
      reverse_proxy jwt:8081
    }
  @livekit path /sfu*
    handle @livekit {
      uri strip_prefix /sfu
      reverse_proxy livekit:7880
    }
  @hs {
    path /.well-known/matrix*
    path /_matrix*
    path /*
  }
  route @hs {
    reverse_proxy homeserver:6167
  }
}
